* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
}

body {
  border: 1px solid rgba(124, 159, 111, 0.55);
  background: rgba(176, 149, 203, 0.685);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  flex-grow: 0;
  flex-shrink: 1;
  border-bottom: 1px solid black;
  height: auto;
  width: 100%;
  background-color: rgba(35, 23, 47, 0.618);
  margin-bottom: 0.7rem;
}

.navlinks {
  align-items: center;
  flex-basis: 35%;
}

.navlinks>a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  padding: 0 0.3rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  position: relative;
}

.navlinks>a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navlinks>a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navheading {
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
  flex-shrink: 1;
  flex-grow: 1;
}

.navheading>h1 {
  font-weight: 700;
  color: whitesmoke;
  text-align: center;
}

.sourcecodenav {
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.sourcecodenav>a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  padding: 0 0.3rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  position: relative;
}

.sourcecodenav>a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sourcecodenav>a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.converterarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(35, 23, 47, 0.618);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.converterheading {
  text-align: center;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  color: whitesmoke;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
}

.converter {
  margin-top: 15px;
  text-align: center;
}

label {
  padding: 10px;
  color: whitesmoke;
  font-size: 1.2rem;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(229, 220, 220, 0.86);
  outline: none;
  font-size: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#or {
  padding: 10px;
  color: grey;
  font-size: 1.2rem;
  display: inline-block;
  margin: 10px;
}

.outputarea {
  margin-top: 10px;
  text-align: center;
  color: black;
  display: inline-block;
  padding: 5px;
  font-size: 1.2rem;
}

.output {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 15%;
  margin-top: 5px;
}

footer>p {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.endnote {
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.socials>a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.socials>a:hover {
  transform: scale(1.2);
}